In [1]:
library(readxl)
library(tidyverse)
library(writexl)
library(openxlsx)
library(googlesheets4)

Warning message:
“package ‘readxl’ was built under R version 4.2.3”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.5.1     ✔ purrr   1.0.2
✔ tibble  3.2.1     ✔ dplyr   1.1.4
✔ tidyr   1.3.1     ✔ stringr 1.5.1
✔ readr   2.1.5     ✔ forcats 1.0.0
Warning message:
“package ‘ggplot2’ was built under R version 4.2.3”
Warning message:
“package ‘tibble’ was built under R version 4.2.3”
Warning message:
“package ‘tidyr’ was built under R version 4.2.3”
Warning message:
“package ‘readr’ was built under R version 4.2.3”
Warning message:
“package ‘purrr’ was built under R version 4.2.3”
Warning message:
“package ‘dplyr’ was built under R version 4.2.3”
Warning message:
“package ‘stringr’ was built under R version 4.2.3”
Warning message:
“package ‘forcats’ was built under R version 4.2.3”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Warning message:
“package ‘writexl’ was built under R version 4.2.3”
Warning message:
“package ‘openxlsx’ was built under R version 4.2.3”
Warning message:
“package ‘googlesheets4’ was built under R version 4.2.3”

## [20.2.9 Exercises](https://r4ds.hadley.nz/spreadsheets#exercises)

1. In an Excel file, create the following dataset and save it as survey.xlsx. Alternatively, you can download it as an Excel file from [here](https://docs.google.com/spreadsheets/d/1yc5gL-a2OOBr8M7B3IsDNX5uR17vBHOyWZq6xSTG2G8).

<img src="https://r4ds.hadley.nz/screenshots/import-spreadsheets-survey.png" width="300" height="200"/></img>

Then, read it into R, with survey_id as a character variable and n_pets as a numerical variable.
```r
#> # A tibble: 6 × 2
#>   survey_id n_pets
#>   <chr>      <dbl>
#> 1 1              0
#> 2 2              1
#> 3 3             NA
#> 4 4              2
#> 5 5              2
#> 6 6             NA
```

In [2]:
survey <- read_excel("excel_files/survey.xlsx",
    na = c("", "N/A"),
    col_types = c("numeric", "text"))
sprintf("%.1f",survey[["survey_id"]])
survey <- survey |>
  mutate(
    n_pets = if_else(n_pets == "two", "2", n_pets),
    n_pets = parse_number(n_pets),
    survey_id = as.character(survey_id)
  )
survey

[1] "1.0" "2.0" "3.0" "4.0" "5.0" "6.0"

  survey_id n_pets
1 1          0
2 2          1
3 3         NA
4 4          2
5 5          2
6 6         NA

2. In another Excel file, create the following dataset and save it as roster.xlsx. Alternatively, you can download it as an Excel file from [here](https://docs.google.com/spreadsheets/d/1LgZ0Bkg9d_NK8uTdP2uHXm07kAlwx8-Ictf8NocebIE).

<img src="https://r4ds.hadley.nz/screenshots/import-spreadsheets-roster.png" width="300" height="300"/></img>

Then, read it into R. The resulting data frame should be called roster and should look like the following.
```r
#> # A tibble: 12 × 3
#>    group subgroup    id
#>    <dbl> <chr>    <dbl>
#>  1     1 A            1
#>  2     1 A            2
#>  3     1 A            3
#>  4     1 B            4
#>  5     1 B            5
#>  6     1 B            6
#>  7     1 B            7
#>  8     2 A            8
#>  9     2 A            9
#> 10     2 B           10
#> 11     2 B           11
#> 12     2 B           12
```

In [3]:
roster <- read_excel("excel_files/roster.xlsx") |>
    fill(group,subgroup)
roster

   group subgroup id
1  1     A         1
2  1     A         2
3  1     A         3
4  1     B         4
5  1     B         5
6  1     B         6
7  1     B         7
8  2     A         8
9  2     A         9
10 2     B        10
11 2     B        11
12 2     B        12

3. In a new Excel file, create the following dataset and save it as sales.xlsx. Alternatively, you can download it as an Excel file from [here](https://docs.google.com/spreadsheets/d/1oCqdXUNO8JR3Pca8fHfiz_WXWxMuZAp3YiYFaKze5V0).

<img src="https://r4ds.hadley.nz/screenshots/import-spreadsheets-sales.png" width="300" height="300"/></img>

    a. Read sales.xlsx in and save as sales. The data frame should look like the following, with id and n as column names and with 9 rows.
```r
#> # A tibble: 9 × 2
#>   id      n    
#>   <chr>   <chr>
#> 1 Brand 1 n    
#> 2 1234    8    
#> 3 8721    2    
#> 4 1822    3    
#> 5 Brand 2 n    
#> 6 3333    1    
#> 7 2156    3    
#> 8 3987    6    
#> 9 3216    5
```
    b. Modify sales further to get it into the following tidy format with three columns (brand, id, and n) and 7 rows of data. Note that id and n are numeric, brand is a character variable.
```r
#> # A tibble: 7 × 3
#>   brand      id     n
#>   <chr>   <dbl> <dbl>
#> 1 Brand 1  1234     8
#> 2 Brand 1  8721     2
#> 3 Brand 1  1822     3
#> 4 Brand 2  3333     1
#> 5 Brand 2  2156     3
#> 6 Brand 2  3987     6
#> 7 Brand 2  3216     5
```

In [4]:
# A
sales <- read_excel("excel_files/sales.xlsx", range = "A5:B13", col_names = c("id", "n"))
sales

# B
sales <- sales |>
    filter(! n == "n") |>
    mutate(brand = c("Brand 1", "Brand 1","Brand 1","Brand 2","Brand 2","Brand 2","Brand 2"), .before = 1) |>
    mutate(
        id = parse_number(id),
        n = parse_number(n)
  )
sales

  id      n
1 Brand 1 n
2 1234.0  8.0
3 8721.0  2.0
4 1822.0  3.0
5 Brand 2 n
6 3333.0  1.0
7 2156.0  3.0
8 3987.0  6.0
9 3216.0  5.0

  brand   id   n
1 Brand 1 1234 8
2 Brand 1 8721 2
3 Brand 1 1822 3
4 Brand 2 3333 1
5 Brand 2 2156 3
6 Brand 2 3987 6
7 Brand 2 3216 5

4. Recreate the bake_sale data frame, write it out to an Excel file using the write.xlsx() function from the openxlsx package.

In [7]:
bake_sale <- tibble(
  item     = factor(c("brownie", "cupcake", "cookie")),
  quantity = c(10, 5, 8)
)
bake_sale

write.xlsx(bake_sale, file = "excel_files/bake_sale.xlsx")

  item    quantity
1 brownie 10
2 cupcake  5
3 cookie   8

5. In Chapter 7 you learned about the janitor::clean_names() function to turn column names into snake case. Read the students.xlsx file that we introduced earlier in this section and use this function to “clean” the column names.

In [2]:
students <- read_excel("excel_files/students.xlsx")
students |> janitor::clean_names()

  student_id full_name        favourite_food     meal_plan           age
1 1          Sunil Huffmann   Strawberry yoghurt Lunch only          4.0
2 2          Barclay Lynn     French fries       Lunch only          5.0
3 3          Jayendra Lyne    N/A                Breakfast and lunch 7.0
4 4          Leon Rossini     Anchovies          Lunch only          NA
5 5          Chidiegwu Dunkel Pizza              Breakfast and lunch five
6 6          Güvenç Attila    Ice cream          Lunch only          6.0

6. What happens if you try to read in a file with .xlsx extension with read_xls()?

You get an error massage that says that it can't open the file.

## [20.3.6 Exercises](https://r4ds.hadley.nz/spreadsheets#exercises-1)

1. Read the students dataset from earlier in the chapter from Excel and also from Google Sheets, with no additional arguments supplied to the read_excel() and read_sheet() functions. Are the resulting data frames in R exactly the same? If not, how are they different?

In [18]:
students_excel <- read_excel("excel_files/students.xlsx")
students_excel

gs4_deauth()
students_sheet_id <- "1V1nPp1tzOuutXFLb3G9Eyxi3qxeEhnOXUzL5_BcCQ0w"
students_sheet <- read_sheet(students_sheet_id, col_types = "dcccc")
students_sheet

  Student ID Full Name        favourite.food     mealPlan            AGE
1 1          Sunil Huffmann   Strawberry yoghurt Lunch only          4.0
2 2          Barclay Lynn     French fries       Lunch only          5.0
3 3          Jayendra Lyne    N/A                Breakfast and lunch 7.0
4 4          Leon Rossini     Anchovies          Lunch only          NA
5 5          Chidiegwu Dunkel Pizza              Breakfast and lunch five
6 6          Güvenç Attila    Ice cream          Lunch only          6.0

✔ Reading from students.

✔ Range Sheet1.

  Student ID Full Name        favourite.food     mealPlan            AGE
1 1          Sunil Huffmann   Strawberry yoghurt Lunch only          4
2 2          Barclay Lynn     French fries       Lunch only          5
3 3          Jayendra Lyne    N/A                Breakfast and lunch 7
4 4          Leon Rossini     Anchovies          Lunch only          NA
5 5          Chidiegwu Dunkel Pizza              Breakfast and lunch five
6 6          Güvenç Attila    Ice cream          Lunch only          6

I had to add the col_types to read_sheet or it didn't produce a data frame. Once I got both read functions to output a data frame, they looked the same.

2. Read the Google Sheet titled survey from https://pos.it/r4ds-survey, with survey_id as a character variable and n_pets as a numerical variable.

In [19]:
survey_id <- "1yc5gL-a2OOBr8M7B3IsDNX5uR17vBHOyWZq6xSTG2G8"
survey_sheet <- read_sheet(survey_id, col_types = "cd" )
survey_sheet

✔ Reading from survey.

✔ Range Sheet1.

Warning message in .Primitive("as.double")(x, ...):
“NAs introduced by coercion”
Warning message in .Primitive("as.double")(x, ...):
“NAs introduced by coercion”

  survey_id n_pets
1 1          0
2 2          1
3 3         NA
4 4         NA
5 5          2
6 6         NA

3. Read the Google Sheet titled roster from https://pos.it/r4ds-roster. The resulting data frame should be called roster and should look like the following.
```r
#> # A tibble: 12 × 3
#>    group subgroup    id
#>    <dbl> <chr>    <dbl>
#>  1     1 A            1
#>  2     1 A            2
#>  3     1 A            3
#>  4     1 B            4
#>  5     1 B            5
#>  6     1 B            6
#>  7     1 B            7
#>  8     2 A            8
#>  9     2 A            9
#> 10     2 B           10
#> 11     2 B           11
#> 12     2 B           12
```

In [21]:
roster_id <- "1LgZ0Bkg9d_NK8uTdP2uHXm07kAlwx8-Ictf8NocebIE"
roster_sheet <- read_sheet(roster_id, col_types = "dcd") |>
    fill(group,subgroup)
roster_sheet

✔ Reading from roster.

✔ Range Sheet1.

   group subgroup id
1  1     A         1
2  1     A         2
3  1     A         3
4  1     B         4
5  1     B         5
6  1     B         6
7  1     B         7
8  2     A         8
9  2     A         9
10 2     B        10
11 2     B        11
12 2     B        12